input {
    margin: 10px;
}

.form-error{
    color:red;
    font-style: italic;
    font-size: 0.8em;
    overflow: auto;
}

button, .button {
    /* Spacing */
    margin: 0px 5px;
    min-width: 80px;
}