input {
    margin: 10px;
    vertical-align: super;
    padding: 2px;
    padding-left: 5px;
}

div > input {
    font-weight: bold;
}

.form-error{
    color:red;
    font-style: italic;
    font-size: 0.8em;
    overflow: auto;
}

button, .button {
    /* Spacing */
    margin: 0px 5px;
    min-width: 80px;
}

.material-icons {
    font-size: 24px;
    line-height: 24px;
}

h1 {
    margin-left: 250px;
    margin: 5px;
    text-align: left;
    display: inline-block;
}


